/* CSS Document */

@import url('/css/bootstrap-4.3.1/bootstrap.min.css') print;
@import url('/css/bootstrap-4.3.1/bootstrap-migration.css') print;
@import url('/css/fontawesome-5.9.0/all.min.css') print;
@import url('/css/web/ibkr-shared.css') print;
@import url('/css/app/app.css') print;
/* PRINT STYLESHEET SPECIFIC OVERRIDES ---------------------------------------------------------------------------------------------------- */
@media print {
    @page {
        size:letter portrait;
    }
    * {
        /* ENABLE BACKGROUND GRAPHICS BY DEFUALT IN BROWSER PRINT WINDOWS */
        -webkit-print-color-adjust:exact !important; /*Chrome, Safari */
        color-adjust:exact !important;  /*Firefox*/
    }
    .noprint, .no-print {
        display:none;
    }
    * {
        line-height: 1 !important;
    }
    html {
        font-size: 75% !important;
    }
    body {
        background-color:#FFFFFF !important;
    }
    h1, h2, h3, h4, h5, h6.subtitle {
        color: #000000 !important;
    }
    h4 {
        margin-top: 0px !important;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0px !important;
    }
    .form-set .container {
        padding: 0px 15px 0px 15px !important;
    }
    section {
        padding: 5px 0px !important;
    }
    label {
        margin-bottom: 0px !important;
    }
    hr {
        margin-top: .25rem !important;
        margin-bottom: .25rem !important;
    }
    p {
        margin-bottom: 0px !important;
    }
    select.form-control {
        color:#000000 !important;
    }
    input.form-control, textarea.form-control, select.form-control {
        height: 25px !important;
    }
    .ib-logo-white {
        background-image:url("/images/web/logos/ib-logo-text-white.png");
    }
    .pa-logo-white {
        background-image:url("/images/web/logos/pa-logo-text-white.png");
    }
    .navbar > .container, .navbar > .container-fluid {
        justify-content:initial;
    }
    .form-group {
        margin-bottom:5px !important;
    }
    .divider {
        margin:10px 1px;
        background-color:#000000;
    }
    .tax-form {
        padding:0px 0px 0px 0px;
        background-color:#FFFFFF;
        border:none;
    }
    .tax-form .tax-form-part-divider {
        margin:10px 0px 10px 0px;
    }
    .btn-switch .btn, .btn-switch .btn:link, .btn-switch .btn:visited, .btn-switch .btn:hover, .btn-switch .btn:active, .btn-switch .btn:focus {
        color:#000000 !important;
        border:1px solid #000000 !important;
    }
    .btn-switch .btn.active, .btn-switch .btn.active:hover {
        color:#FFFFFF !important;
        background-color:#000000 !important;
    }
    .btn-primary, .btn-primary:focus {
        background-color:#000000 !important;
        border-color:#000000 !important;
    }
    .form-group.form-icheck label, .form-group.form-icheck label.form-check-label {
        margin: 5px 0px 0px 10px !important;
    }
    .iradio_square-blue {
        background-position: -60px 0 !important;
    }
    .iradio_square-blue.checked {
        background-position: -84px 0 !important;
    }
    .icheckbox_square-blue.checked {
        background-position: -24px 0 !important;
    }
    .icheckbox_square-blue, .iradio_square-blue {
        width: 11px !important;
        height: 11px !important;
        background-size : 120px 12px !important;
        background-image:url("/images/icheck-1.0.2/grey.png");
    }
    /* HI-DPI SUPPORT */
    @media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
        .icheckbox_square-blue,  .iradio_square-blue {
            background-image:url("/images/icheck-1.0.2/grey-2x.png");
        }
    }
}